<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <application>
    <provider
      android:name=".ZoptionApkFileProvider"
      android:authorities="${applicationId}.zoption.apkupdater"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/zoption_apk_updater_paths" />
    </provider>
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:mimeType="application/vnd.android.package-archive" />
    </intent>
    <intent>
      <action android:name="android.intent.action.INSTALL_PACKAGE" />
    </intent>
  </queries>
</manifest>
